.nav{
    background-color: #6200EA;
    height: 5rem;
}

.nav__links__container{
padding-top: 2.0625rem;
padding-bottom: 2rem;
}

.nav__logo{
    height: 50px;
    margin-top: 0.9375rem;
    
}
.nav__links{
    margin-right: 3.75rem;
    letter-spacing: 0.15rem;
    color: #F4F3F5;
    padding-bottom: 1.75rem;
}
.nav__links:hover{
    color: #FFFFFF;
    border-bottom: 4px solid #FFFFFF;
}
.nav__links:last-child{
    margin-right: 0;
}

.content__left, .content__right{
    background-color: #ffffff;
    border-radius: 0.9375rem;
    height: 40rem;
}

.iframe__wrapper{
    margin: 3.75rem 3.75rem 1.875rem 3.75rem;
}
.contact{
    margin: 0 3.75rem 5.75rem 3.75rem;
    text-align: left;
}
.contact__text{
    color: #6200EA;
    margin-bottom: 0.625rem;
}
.contact__address{
    margin-bottom: 1.875rem;
    line-height: 1.25rem;
    font-size: 0.875rem;
}
.contact__logos{
    color: #6200EA;
    margin-top: 1.25rem;
    margin-right: 0.635rem;
}


.content__right__text{
    margin: 0 3.75rem 1.25rem 3.75rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
}
input{
    height: 3.125rem;
}
textarea{
   height: 9.375rem;
   resize: none;
}
input, textarea{
    margin: 0 3.75rem 0.9375rem 3.75rem;
    width: 26.25rem;
    background-color: #F4F3F5;
    outline: none;
    border: 0;
}
input:focus, textarea:focus{
    
    border-bottom: 0.1875rem solid #6200EA;
}

input::placeholder, textarea::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    padding-left: 1.5rem;
}

.button{
    display: inline-block;
    text-align: center;
    width: 26.25rem;
    height: 3.125rem;
    padding-top: 1.125rem;
    background-color: #6200EA;
    color: #ffffff;
    border: 2px solid #6200EA;
    border-radius: 24px;    
    margin: 1.25rem 3.75rem auto 3.75rem;
    letter-spacing: 0.15rem;
}
footer{
    text-align: center;
    height: 6.255rem;
    background-color: #211138;
    color: #B2ACBA;
    letter-spacing: 0.15rem;
    padding-top: 43px;
    
}

span{
    color: #6200EA;
}